$SiteColor: #D08047;

body{
  padding: 0 40px;
  margin: 0 auto;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  color: #666666;
  line-height: 28px;
}
a{
  color: #666666;
}