@import "setting";
@import "function";
@import "header&footer";

main{
  h2{
    @include sectionTitlebar;
  }
  article{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid rgb(179, 178, 178);
    img{
      max-width: 230px;
    }
    .detail{
      padding-left: 35px;
      .artTitle{
        color: $SiteColor;
      }
    }
    
  }
}